mixin vspace(options)
  - var vspace_width = '100%'
  - var vspace_height = options.height || '1px'
  table(width="#{vspace_width}" height="#{vspace_height}" cellspacing="0" cellpadding="0" style="margin: 0;")
    tr
      td(style="width: 100%; font-size: #{vspace_height}; line-height: #{vspace_height};") &nbsp;
